<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xfhy.allinone">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.xfhy.allinone.ipc.aidl.ACCESS_PERSON_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.xfhy.allinone.ipc.aidl.ACCESS_PERSON_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <meta-data
            android:name="com.xfhy.allinone.opensource.glide.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".opensource.glide.GlideActivity" />
        <activity android:name=".opensource.leakcanary.LeakCanaryActivity" />
        <activity android:name=".opensource.retrofit.RetrofitActivity" />
        <activity android:name=".opensource.okhttp.OkHttpActivity" />
        <activity android:name=".opensource.OpenSourceActivity" />
        <activity android:name=".smali.SmaliActivity" />
        <activity android:name=".MainActivity">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".jni.CallMethodActivity" />
        <activity android:name=".jni.JNIMainActivity" />

        <service
            android:name=".ipc.aidl.AidlRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":other">
            <intent-filter>
                <action android:name="com.xfhy.aidl.Server.Action" />
            </intent-filter>
        </service>

        <activity android:name=".ipc.aidl.AidlActivity" />

        <activity android:name=".ipc.messenger.MessengerActivity">

        </activity>
        <activity android:name=".ipc.binder.BinderActivity" />
        <activity android:name=".ipc.ashmem.AshmemActivity" />
        <activity android:name=".ipc.IpcMainActivity" />
        <activity android:name=".scroll.ScrollMainActivity" />
        <activity android:name=".scroll.SimpleScrollActivity" />
        <activity android:name=".scroll.rv.RvContainsVpActivity" />
        <activity android:name=".image.ImageHomeActivity" />
        <activity android:name=".image.big.LoadBigImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ipc.messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":other">
            <intent-filter>
                <action android:name="com.xfhy.messenger.Server.Action" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.ashmem.AshmemRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":other">
            <intent-filter>
                <action android:name="com.xfhy.ashmem.Server.Action" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.binder.BinderService"
            android:enabled="true"
            android:exported="true"
            android:process=":other">
            <intent-filter>
                <action android:name="com.xfhy.binder.Server.Action" />
            </intent-filter>
        </service>
    </application>

</manifest>